
.div {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    left: 80px;
    position: absolute;
    top: 120px;
  }
  
  .div .frame-16 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }
  
  .div .frame-17 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .div .button-4 {
    all: unset;
    align-items: center;
    background-color: #ffffff;
    border-radius: 99999px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    height: 24px;
    justify-content: center;
    padding: 4px 6px;
    position: relative;
  }
  
  .div .text-wrapper-17 {
    color: #8a8d9a;
    font-family: var(--BUTTON-TEXT-button-s-font-family);
    font-size: var(--BUTTON-TEXT-button-s-font-size);
    font-style: var(--BUTTON-TEXT-button-s-font-style);
    font-weight: var(--BUTTON-TEXT-button-s-font-weight);
    letter-spacing: var(--BUTTON-TEXT-button-s-letter-spacing);
    line-height: var(--BUTTON-TEXT-button-s-line-height);
    margin-bottom: -1.00px;
    margin-top: -3.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div .text-wrapper-18 {
    color: #8a8d9a;
    font-family: var(--BUTTON-TEXT-button-s-font-family);
    font-size: var(--BUTTON-TEXT-button-s-font-size);
    font-style: var(--BUTTON-TEXT-button-s-font-style);
    font-weight: var(--BUTTON-TEXT-button-s-font-weight);
    letter-spacing: var(--BUTTON-TEXT-button-s-letter-spacing);
    line-height: var(--BUTTON-TEXT-button-s-line-height);
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div .frame-18 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
    width: 950px;
  }
  
  .div .arrow-left-wrapper {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dee2e8;
    border-radius: 99999px;
    display: flex;
    gap: 12px;
    height: 48px;
    justify-content: center;
    padding: 4px 24px;
    position: relative;
    width: 48px;
  }
  
  .div .arrow-left {
    height: 24px !important;
    margin-left: -12.00px !important;
    margin-right: -12.00px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .div .text-wrapper-19 {
    color: #181a26;
    font-family: var(--TITLE-t2-roboto-flex-font-family);
    font-size: var(--TITLE-t2-roboto-flex-font-size);
    font-style: var(--TITLE-t2-roboto-flex-font-style);
    font-weight: var(--TITLE-t2-roboto-flex-font-weight);
    letter-spacing: var(--TITLE-t2-roboto-flex-letter-spacing);
    line-height: var(--TITLE-t2-roboto-flex-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    left: 80px;
    position: absolute;
    top: 256px;
    width: 950px;
  }
  
  .frame .TEXT {
    color: #181a26;
    font-family: var(--SUB-sub-1-bold-font-family);
    font-size: var(--SUB-sub-1-bold-font-size);
    font-style: var(--SUB-sub-1-bold-font-style);
    font-weight: var(--SUB-sub-1-bold-font-weight);
    letter-spacing: var(--SUB-sub-1-bold-letter-spacing);
    line-height: var(--SUB-sub-1-bold-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .div-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .frame .text-wrapper {
    /* HEADLINE/H2 Roboto Flex Semibold */
font-family: Roboto Flex;
font-size: 40px;
font-weight: 600;
line-height: 120%;
letter-spacing: -1%;
text-align: left;
color: rgb(135, 69, 254);
text-transform: uppercase;
  }
  
  .frame .button {
    all: unset;
    align-items: center;
    background: radial-gradient(
      50% 50% at 50% -52%,
      rgba(243, 109, 255, 1) 0%,
      rgba(135, 69, 254, 1) 61%,
        rgba(135, 69, 254, 1) 100%
    );
    border: 1px solid;
    border-color: #ffffff33;
    border-radius: 99999px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    height: 48px;
    justify-content: center;
    padding: 0px 4px;
    position: relative;
  }
  
  .frame .div-3 {
    align-items: center;
    align-self: stretch;
    border-radius: 99999px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    justify-content: center;
    padding: 0px 20px;
    position: relative;
  }
  
  .frame .text-wrapper-2 {
    color: #ffffff;
    font-family: var(--BUTTON-TEXT-button-m-font-family);
    font-size: var(--BUTTON-TEXT-button-m-font-size);
    font-style: var(--BUTTON-TEXT-button-m-font-style);
    font-weight: var(--BUTTON-TEXT-button-m-font-weight);
    letter-spacing: var(--BUTTON-TEXT-button-m-letter-spacing);
    line-height: var(--BUTTON-TEXT-button-m-line-height);
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  .frame-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 40px;
    left: 80px;
    position: absolute;
    top: 516px;
    width: 950px;
  }
  
  .frame-wrapper .frame-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .frame-wrapper .text-wrapper-3 {
    color: #181a26;
    font-family: var(--SUB-sub-1-medium-font-family);
    font-size: var(--SUB-sub-1-medium-font-size);
    font-style: var(--SUB-sub-1-medium-font-style);
    font-weight: var(--SUB-sub-1-medium-font-weight);
    letter-spacing: var(--SUB-sub-1-medium-letter-spacing);
    line-height: var(--SUB-sub-1-medium-line-height);
    position: relative;
    width: 240px;
  }
  
  .frame-wrapper .text-wrapper-4 {
    color: #181a26;
    font-family: var(--SUB-sub-1-medium-font-family);
    font-size: var(--SUB-sub-1-medium-font-size);
    font-style: var(--SUB-sub-1-medium-font-style);
    font-weight: var(--SUB-sub-1-medium-font-weight);
    letter-spacing: var(--SUB-sub-1-medium-letter-spacing);
    line-height: var(--SUB-sub-1-medium-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame-wrapper .frame-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .frame-wrapper .img {
    flex: 0 0 auto;
    position: relative;
  }
  
  .frame-wrapper .text-wrapper-5 {
    color: #181a26;
    font-family: var(--SUB-sub-1-medium-font-family);
    font-size: var(--SUB-sub-1-medium-font-size);
    font-style: var(--SUB-sub-1-medium-font-style);
    font-weight: var(--SUB-sub-1-medium-font-weight);
    letter-spacing: var(--SUB-sub-1-medium-letter-spacing);
    line-height: var(--SUB-sub-1-medium-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame-wrapper .frame-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
  }
  
  .frame-wrapper .text-wrapper-6 {
    color: #181a26;
    font-family: var(--SUB-sub-1-bold-font-family);
    font-size: var(--SUB-sub-1-bold-font-size);
    font-style: var(--SUB-sub-1-bold-font-style);
    font-weight: var(--SUB-sub-1-bold-font-weight);
    letter-spacing: var(--SUB-sub-1-bold-letter-spacing);
    line-height: var(--SUB-sub-1-bold-line-height);
    position: relative;
    text-align: right;
    width: 120px;
  }
  
  .frame-wrapper .more-wrapper {
    align-items: center;
    border-radius: 99999px;
    display: flex;
    gap: 12px;
    height: 48px;
    justify-content: center;
    padding: 4px 24px;
    position: relative;
    width: 48px;
  }
  
  .frame-wrapper .more {
    height: 24px !important;
    margin-left: -12.00px !important;
    margin-right: -12.00px !important;
    margin-top: -0.00px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .frame-wrapper .line {
    align-self: stretch;
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .frame-wrapper .frame-5 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    position: relative;
  }
  
  .frame-wrapper .ellipse {
    background-color: #181a26;
    border-radius: 3px;
    height: 6px;
    position: relative;
    width: 6px;
  }
  
  .frame-wrapper .text-wrapper-7 {
    color: #0fc28d;
    font-family: var(--SUB-sub-1-bold-font-family);
    font-size: var(--SUB-sub-1-bold-font-size);
    font-style: var(--SUB-sub-1-bold-font-style);
    font-weight: var(--SUB-sub-1-bold-font-weight);
    letter-spacing: var(--SUB-sub-1-bold-letter-spacing);
    line-height: var(--SUB-sub-1-bold-line-height);
    position: relative;
    text-align: right;
    width: 120px;
  }
  
  .frame-wrapper .button-2 {
    all: unset;
    align-items: center;
    align-self: stretch;
    border-radius: 99999px;
    box-sizing: border-box;
    display: flex;
    gap: 12px;
    height: 48px;
    justify-content: center;
    padding: 4px 24px;
    position: relative;
    width: 100%;
  }
  
  .frame-wrapper .text-wrapper-8 {
    color: #181a26;
    font-family: var(--BUTTON-TEXT-button-m-font-family);
    font-size: var(--BUTTON-TEXT-button-m-font-size);
    font-style: var(--BUTTON-TEXT-button-m-font-style);
    font-weight: var(--BUTTON-TEXT-button-m-font-weight);
    letter-spacing: var(--BUTTON-TEXT-button-m-letter-spacing);
    line-height: var(--BUTTON-TEXT-button-m-line-height);
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  