.j{
display: flex;
justify-content: space-between;
margin-top: 150px;
    
}
.b{
display: flex;
border-bottom: black;

}
.c li{
text-decoration: underline;
margin-bottom: 11px;
list-style: none;
padding-bottom: 10px;
font-size: 25px;
font-weight: bold; 
}
.c h3{
font-size: 24px;
}

  
.e {
font-weight: bold;
 font-size: 20px;
gap: 40px;
margin-left: 30px;
 display: flex; 
 color: #555;


}

  .f{
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
  }

  .b h1{
    font-size: 50px;
}
  
  .b img{
    width: 115px;
 }
 

