@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.block1 {
    width: 100%;
    height: 720px;
    background-color: #191A26;
    position: relative;
    overflow: hidden;
    display: flex;
  }
  
  .block1-cart {
    margin-left: 300px;
    clip-path: polygon(51% 3%, 93% 29%, 93% 75%, 53% 96%, 9% 74%, 9% 28%);
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    width: 150px; 
    height: 150px; 
    animation: blockcart 18s linear infinite;
  }
  .block1-cart2 {
    margin-left: 600px;
    clip-path: polygon(51% 3%, 93% 29%, 93% 75%, 53% 96%, 9% 74%, 9% 28%);
    background-color: #3dac1b;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23dbd612' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    width: 150px; 
    height: 150px; 
    animation: blockcart 14s linear infinite;
  }
  
  .block1-cart3 {
    margin-left: 800px;
    clip-path: polygon(51% 3%, 93% 29%, 93% 75%, 53% 96%, 9% 74%, 9% 28%);
    background-color: #1f261d;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    width: 150px; 
    height: 150px; 
    animation: blockcart 16s linear infinite;
  }
  .block1-cart4 {
    margin-left: 200px;
    clip-path: polygon(51% 3%, 93% 29%, 93% 75%, 53% 96%, 9% 74%, 9% 28%);
    \background-color: #8f176c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e41ae8' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    width: 150px; 
    height: 150px; 
    animation: blockcart 16s linear infinite;
  }
  .block1-cart5 {
    margin-left: 1000px;
    clip-path: polygon(51% 3%, 93% 29%, 93% 75%, 53% 96%, 9% 74%, 9% 28%);
    background-color: #00a0d9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2325d99a' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    width: 150px; 
    height: 150px; 
    animation: blockcart 9s linear infinite ;
  }
  
  .block1-cart6 {
    margin-left: 500px;
    clip-path: polygon(51% 3%, 93% 29%, 93% 75%, 53% 96%, 9% 74%, 9% 28%);
    background-color: #d96b00;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ecb50c' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    width: 150px; 
    height: 150px; 
    animation: blockcart 7s linear infinite;
  }
  
  .block1-cart7 {
    margin-left: 1200px;
    clip-path: polygon(51% 3%, 93% 29%, 93% 75%, 53% 96%, 9% 74%, 9% 30%);
    background-color: #db8f45;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23eec64d' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    width: 150px; 
    height: 150px; 
    animation: blockcart 20s linear infinite;
  }
  
  .block1-item {
    z-index: 10;
    text-align: center;
    width: 900px;
    margin-top: 100px;
    margin: 0 auto;
    color: white;
    margin-top: 140px;
    h1{
      font-family: "Roboto Flex", sans-serif;
font-weight: 800;
font-size: 60px;
text-align: center;

    }
    p{
      margin-top: 40px;
      font-family: "Inter", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: -1%;
text-align: center;
vertical-align: middle;

    }
    button{
      width: 264px;
      height: 66px;
      margin-top: 40px;
      border-radius: 45px;
      background: radial-gradient(circle, #8745FE 3%, #F36DFF 190%, #17BAE5 100%);
      color: white;
      font-family: "Inter", sans-serif;
      cursor: pointer;
      font-size: 18px;
      border: none;
      
    }
    button:hover{
      border: 1px solid #fff;
      background: radial-gradient(circle, #8745FE 3%, #F36DFF 140%, #17BAE5 170%);
      transition: all 3s ease;
    }
  }
  
  @keyframes blockcart {
    0% {
        margin-top: -300px;
      transform: translateY(0); /* Начальная позиция */
      transform: rotate(0deg);
    }
    50% {
        transform: translateY(500px);
        transform: rotate(100deg); /* Поворот на 100 градусов */
    }
    100% {
        transform: rotate(10deg);
      transform: translateY(900px); /* Конечная позиция (вниз) */
    }
  }
  