.header {
  background: white;
  padding: 10px 0;
 width: 100%;
 position: sticky;
 top: 0;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 32px;
    }

    .logoText {
      margin-left: 8px;
    }
  }

  .dropdown99 {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 15px;
    cursor: pointer;
  }

  .search {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border-radius: 20px;
    padding: 6px 12px;
    width: 350px;

    .icon {
      color: gray;
    }

    input {
      border: none;
      outline: none;
      background: transparent;
      padding-left: 8px;
      flex: 1;
    }
  }

  .login {
    background: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 15px;
    margin-right: 35px;
    cursor: pointer;
  }

  .register {
    background: linear-gradient(90deg, #9b5cff, #627aff);
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 20px;
    cursor: pointer;
  }

  .menu {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
}
